
body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;

    
}
h1{
    background-color: rgb(0, 255, 191);
    border-radius: 10px 50px;
    padding: 1rem;
    box-shadow: 0px 0px 7px 1px black ;
}
.header_baner{

    background-color: wheat;
    padding: .7rem;
    border-radius: 10px 30px;
    box-shadow: 0px 0px 7px 1px black;
    /* margin-top: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-bottom: auto; */
}
.header_baner_contenedor_targetas_targetas{
    display: grid;
    justify-content: center;
    align-items: center;
}
.header_baner_contenedor_targetas_targeta p{
    font-size: 1.5rem;
}
.header_baner_contenedor_targetas_targeta h1{
    margin-top: 0;
    padding: .7rem;
}
.main_principal{
    background-color: rgb(2, 74, 87);
    max-width: 100%;
    max-height: 100%;
    /* padding: auto; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.main_principal_article{
    background-color: blue;
    max-width: 100%;
    max-height: 100%;
    /* padding: auto; */
    display: grid;
     justify-content: center;
    align-items: center;
    

}
.main_principal_article_section{
    background-color: brown;
    max-width: 100%;
    max-height: 100%;
    /* padding: auto; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.main_principal_article_section_contenedor_targetas{
    background-color: aliceblue;
    max-width: 100%;
    max-height: 100%;
    padding: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid blue;
}
.main_principal_article_section_contenedor_targetas_targeta{
    width: 250px;
    /* padding: 2rem; */
    height: 450px;
    border: 2px solid green;
    border-radius: 10px;
    
}
:is(.main_principal_article_section_contenedor_targetas_targeta) h3, p{
    padding: 1rem;
    font-size: 1.rem;

    height: 2rem;
}