body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.contenedor {
    /* display: grid; */
    gap: 1px;
    display: flex;
    flex-direction: row;
    
    max-width: 800px;
    min-width: 15rem;
    align-content: center;
    justify-content: center;
    vertical-align: auto;
    align-items: center;
    flex-wrap: wrap;

    

    
}
.targeta {
    
    border: 1px solid red;
    padding: .1rem;
    /* margin: auto; */
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


    

    /* white-space: 2px; */
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}







