.h_1 {
    background-color: rgb(51, 100, 1000);
    color: rgba(20, 45, 184, 0.808);
    /* margin-left: 2.9em; */
    display: inline-block;
    padding: 20px;
    /* margin-left: auto; */
    box-shadow: 1px 1.1px 7px #000;
    margin-top: 2em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* display: flex; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    justify-self: center;
    /* justify-self: unset; */
    /* justify-items: first baseline; */
    justify-content: center;
}
.body_b {
    display: inline-block;
    
    flex-direction: column;

}
.ab {
    background-color:  rgb(51, 100, 1000);
    font-size: 2em;
}
.h1_bak {
    font-size: 28px;
    

    text-wrap: nowrap;
    font-weight: 100px;
    color: #4682B4;
    width: 1em;
    padding: 1em;
    /* background-color: #0022ff; */
    margin-inline-end: auto;
    margin-left: 1em;
    

    margin-top: -10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: 1px 2px 1px #000;
    display: flex;
    
}
.fron_41 {
    display: flex;
    width: 40px;
    padding: 60px;
}

.p_frontend{
    background-color: rgb(51, 100, 1000);
    color: rgba(20, 45, 184, 0.808);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: 1px 2px 1px #000;
 
}
.p_bak {
    background-color: rgb(51, 100, 1000);
color: rgba(20, 45, 184, 0.808);
margin-top: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
font-size: 28px;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 7px;
padding-right: 7px;
box-shadow: 1px 2px 1px #000;

}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
     padding: 6.5em;
     margin-top: auto;
     margin-right: auto;
     margin-left: -9.3em;
     margin-bottom: auto;
     /* margin-top: -3em; */
     
}
header > nav > ul > li:first-child{
    
    padding: .5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 30em;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: .3px 1px 2px #000;
    /* background-color: #4682B4; */
}
/* header > nav > ul > li  > a:first-child{ */
    /* margin-top: .1em; */
/* } */
header > nav > ul > li {
    padding: .5em;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 30em;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10px;
    
    box-sizing: border-box;
    box-shadow: .3px 1px 2px #000;
    
    
}
header > nav > ul > li:hover {
    padding: .5em;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 30em;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10px;
    
    box-sizing: border-box;
    box-shadow: .3px 1px 2px #000;
    background-color: #4682B4;

}

header > nav > ul > li > a {
    
    /* background-color: aqua; */
    font-size: 1em;
    padding: .5em;
    height: .5em;
    padding: 2em;
    color: blue;
    border: .5px soli black;
    /* flex-wrap: nowrap; */
}
header > nav > ul > li > a:focus {
font-size: 1em;
padding: .5em;
height: .5em;
padding: 2em;
color: #00ff00;
background-color: #4682B4;
text-decoration: underline;
border: .5px soli black;
box-sizing: border-box;
    
}

